input, a {
    display: block;
}

/*selecionando o atributo*/

[required]{
    background-color: aqua;

} 

/* OU */
input[name="usuario"]{ /*o usuario fica entre aspas pois é um valor não padrão*/
    background-color: aliceblue;
}

a[href^="https:"]{ /* */
    background-color: aliceblue;
}
a[href*="economia"]{ /*com o sibolo antes do sinbolo do  = procura exatamento a palavra economia */
    background-color: aliceblue;
}
a[href*="futebol"]{ /* */
    background-color: aquamarine;
}
a[href=""]{ /* */

}
  
