.container{
    display: grid;
    grid-template-columns: auto 200px 100px;
    grid-template-rows: 100px;
    grid-gap: 10px;
}

.item{
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}