.balão {
    background-color: blue;
    display: inline-block;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.balão::after{
    content: '';
    display: block;
    position: absolute;
    margin-top: 20px;

    border: 20px solid;
    border-color: #0000ff transparent transparent transparent;
}