.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 30px;
    /*
    grid-column-gap: 10px;
    grid-row-gap:10px;
    */
}

.Item{
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;

}