.container{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 100px 200px 50px);
    grid-gap: 10px;

}

.item{
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;

}